.dragonGameContainer {
  margin: 6em auto 0;
  max-width: 45rem;
}

header {
  padding: 1.5rem 2rem;
  text-align: center;
  background-color: #e84949;
  color: #fafafa;
}

h1 {
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: 1px;
}

.mainSection {
  padding: 1.5rem;
  background-color: #d6c2a3;
  color: #32363f;
  font-size: 1.1rem;
  text-align: center;
}

.mainSection p {
  margin-bottom: 2rem;
}

span {
  color: #e84949;
  font-weight: 700;
}
