.headerContainer {
  padding: 0.5rem;
  background-color: #e84949;
}

.headerContainer .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerContainer .header .headerItem {
  color: #fff;
}

.headerContainer .header .headerItem.active {
  color: yellow;
}
