.choicesContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.choice {
  width: 5rem;
}

.choice:hover {
  cursor: pointer;
}

.choice:nth-child(2) img {
  transform: scale(1.3);
}

.result {
  margin-top: 0.5rem;
}

span {
  color: #e84949;
  font-weight: 700;
}
