.gameContainer {
  margin: 6em auto 0;
  max-width: 45rem;
}

header {
  padding: 1.5rem 2rem;
  text-align: center;
  background-color: #e84949;
  color: #fafafa;
}

h1 {
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: 1px;
}

.mainSection {
  padding: 1.5rem;
  background-color: #d6c2a3;
  color: #32363f;
  font-size: 1.1rem;
  text-align: center;
}

.choicesContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.choice {
  width: 5rem;
}

.choice:hover {
  cursor: pointer;
}

.choice:nth-child(2) {
  width: 6rem;
}
